body {
    margin: 0%; padding: 0%;
    height: auto;
    background-image: url(img1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*  */
@-webkit-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
/*  */
/* header */
header {
    /* border: 1px solid black; */
    height: 500px;  width: 1000px;
    background-color: black;
    margin-top: 35px;
    display: flex;
}
#main-header {
    height: 100%;   width: 100%;
    background-image: url(./images/img2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;  flex-direction: column;
/*  */
    animation-name: fade;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
/*  */
    box-shadow: 7px 7px 7px black;
}
nav {
    display: flex;
    justify-content: space-between; align-items: center;
    background: rgba(0, 0, 0, 0.6);
    height: 20%;
}
nav div {
    display: flex;
    align-items: center;
    margin-left: 15px;
    flex-grow: 5;
}
nav div img {
    height: 40px;
    padding: 0px 5px 0px 0px;
}
nav div h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    color: azure;
    padding: 0px 0px 0px 10px;
    font-weight: lighter;
    cursor: pointer;
}
nav div h3:hover {
    color: rgb(139, 138, 138);    
    animation-name: fade;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
}
nav ul {
    display: flex;  
    padding: 0%;
    align-items: center;    justify-content: center;
    flex-grow: 1;
    animation-name: fade;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
}
#nav-ul {
    display: none;
}
nav ul li {
    list-style: none;
    padding-left: 30px;
    font-size: 1.2em;
    color: azure;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
nav ul li:hover {
    color: rgb(139, 138, 138);    
    animation-name: fade;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
}
#menu {
    font-size: 1.5em;
    margin-right: 15px;
    color: azure;
    cursor: pointer;
}
#menu:hover {
    color: #000;
}
.second-comp {
    height: 80%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;  
    justify-content: center;    
    align-items: flex-start;
}
.second-comp h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4.5em;
    color: azure;
    margin: 130px;
    text-shadow: 2px 2px 2px black;
}
